
<div class="jumbotron jumbotron-fluid bg-dark view animated fadeIn">
    <div class="container">
        <h1 class="display-4 text-info">Neo Team</h1>
        <div class="mt-3">
            <h3>Yanet Daniel Atenogenes</h3>
            <div class="mt-4">
                <div class="Team members lead">
                    <p class="m-2">Jose Carlos Lopez Lopes</p>
                    <p class="m-2">Eliud Francisco Fuentes Murillo</p>
                    <p class="m-2">Jaime Alberto Padilla Bernal</p>
                    <p class="m-2">Fabian Eduardo Cruz Amador</p>
                    <p class="m-2">Kevin Gamez Santos</p>
                </div>
            </div>
        </div>
    </div>
</div>